* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background: #333;
	color: #fff;
	font: 12px/16px "Liberation Sans", "Arial", sans-serif; 
	height: 100%;
	width: 100%;
}

#container {
	background: #f89100 linear-gradient(to bottom, #f89100, #f66d00);
	color: #fff;
	height: 93%;
	width: 95%;
	margin: 2.5%;
	overflow: hidden;
	display: table;
	padding: 0 5%;
	text-align: center;
}

.u-1-1 {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.u-1-2 {
	display: table-cell;
	vertical-align: middle;
	width: 48%;
	margin-left: 2%;
}

.u-1-2 {
	margin-left: 0;
}

.albumArt {
	border: 3px solid #fff; 
}

.playing .not-playing-message {
.not-playing .playing-message {
	display: none;
}

