* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background: #333;
	color: #fff;
	font: 12px/16px "Liberation Sans", "Arial", sans-serif;
	height: 100%;
	width: 100%;
	display: table;
}

.playing #container-playing {
  display: table-cell;
}

.songName {
	padding: 3% 0 1.5%;
	font-size: 1.7em;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.251)
}

.artistName {
	font-size: 1em;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.251)
}

#container-playing,
#container-not-playing {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-image: -o-linear-gradient(top, #F77F00, #F45000);
	background-image: linear-gradient(to bottom, #F77F00, #F45000)
	color: #fff;
}

#container-not-playing img.smaller,
#container-not-playing img.medium,
.playing #container-not-playing,
#container-playing {
	display: none;
}

.albumArt img {
	border: 3px solid #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

@media (max-height: 183px){

	#container-not-playing img.bigger {
		display: none;
	}
	#container-not-playing img.medium {
		display: inline-block;
	}

	.albumArt img {
		height: 90px;
	}
}

@media (max-height: 120px){

	.albumArt img,
	#container-not-playing img.medium {
		display: none;
	}
	#container-not-playing img.smaller {
		display: inline-block;
	}

}
